.slider-wrapper {
  display: flex;
  height: 100%;
  overflow: visible;
  position: relative;
  transition: transform 600ms ease-in-out;
  width: 100%;
}

.slider {
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .slider {
    font-size: 12px;
  }
}

@media screen and (max-width: 990px) {
  .slider {
    font-size: 14px;
  }
}

@media screen and (max-width: 580px) {
  .slider {
    font-size: 12px;
  }
}

.slide {
  background-color: #4653B5;
  color: white;
  min-height: 500px;
  flex-basis: 100%;
  flex-shrink: 0;
  position: relative;
  width: 100%;
}

.slide img {
  visibility: hidden;
}

.slider-indicators {  
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 200px;
}

.slider-indicators button {
  background-color: white;
  border-radius: 100%;
  border: none;
  height: 28px;
  transition: background 200ms ease;
  width: 28px;
}

.download-slider {
  bottom: 20px;
  left: 0;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 580px) {
  .slider-indicators button {
    height: 15px;
    width: 15px;
  }
}

.slider-indicators button:hover {
  cursor: pointer;
}

.slider-indicators button.active {
  background-color: #D10023;
}

/* Individual slide styles */
.slide1 {
  background-image: url("/img/banner-1-emergencia.jpg");
  background-size: cover;
}

.slide1-content {
  left: 0;
  margin: 10%  0;
  padding: 0 3rem;
  max-width: 380px;
  position: absolute;
  top: 0;
}

.button {
  background-color: #D10023;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
}

.slide2 {
  background-image: url("/img/banner-2-emergencia.jpg");
  background-size: cover;
}

.slide2-content {
  display: block;
  left: 0;
  margin: 0 auto;
  max-width: 600px;
  padding: 2% 3rem 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

@media screen and (max-width: 580px) {
  .slide2-content {
    padding: 1rem 1rem 0;
  }
}

.slide3 {
  background-image: url("/img/banner-3-emergencia.jpg");
  background-size: cover;
}

.slide3-content {
  right: 0;
  position: absolute;
  text-align: right;
  margin: 1rem 3rem;
  top: 0;
  max-width: 420px;
}

@media screen and (max-width: 580px) {
  .slide3-content {
    margin: 1rem;
    max-width: none;
  }
}

.municipios {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.municipios span {
  background-color: #D10023;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  margin: 0.3rem;
}

.d-block {
  display: block;
}