.footer {
  text-align: center;
}

.footer h2 {
  color: #050973;
}

.iniciativapor {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.iniciativapor a {
  padding: 2rem;
}

.iniciativapor a:hover {
  background-color: #f5f5f5;
}
