.hero {
  text-align: center;
  word-break: break-all;
  padding: 24px 12px;
  background-image: url("/img/ect-fondo.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero h1 {
  margin: 1rem 0 2rem;
}