.hero {
  text-align: center;
  word-break: break-all;  
}

.hero h1 {
  margin: 1rem 0 2rem;
}

.w-90 {
  max-width: 90%;
  margin: auto;
}

@media screen and (max-width: 580px) {
  .hero h1 {
    font-size: 1.5rem;
  }
}
