/* Colores de referencia */
:root {
  --blue: #050973;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #050973;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app {
  margin: 0 auto;
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bg-image {
  background-image: url("/img/ect-fondo.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px 12px;
  color: white;
}

.mt {
  margin-top: 32px;
}

.m-auto {
  margin: auto;
}

@media (max-width: 1100px) {
  .table-container {
    overflow-x: scroll;
  }
}

@media (max-width: 567px) {
  #app {
    max-width: 100%;
  }
}

.main {
  padding: 32px;
  min-height: 60vh;
}

.container {
  max-width: 1400px;
  margin: auto;
}
.chart-title {
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(51, 51, 51);
  margin: 0px;
  padding-top: 0rem;
}

.px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.mw-100 {
  max-width: 100%;
  overflow-x: scroll;
}

.w-100 {
  width: 100%;
}

.comunicado-table {
  margin-bottom: 32px;
  margin-top: 32px;
  border-collapse: collapse;
}

.comunicado-table thead {
  background-color: #f8e5d7;
}

.comunicado-table th,
.comunicado-table td {
  padding: 8px;
  border: 1px solid #2b2b2b;
}

.comunicado-table td p {
  text-align: center;
}

td img {
  max-width: 200px;
}

@media (max-width: 576px) {
  td img {
    max-width: 100px;
  }
}

.px {
  padding-left: 12px;
  padding-right: 12px;
}

.py {
  padding-top: 12px;
  padding-bottom: 12px;
}

.my {
  margin-top: 12px;
  margin-bottom: 12px;
  display: block;
}

.bg-white {
  background-color: #fff;
}

.tab-group {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 35px;
}

.tab {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  cursor: pointer;
}

.selected {
  border-bottom: 6px solid #050973;
}