.intro h2 {
  color: #050973;
  font-weight: bold;
  text-align: center;
  padding: 0 0.5rem;
  text-transform: uppercase;
}

.criterios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto 1.5rem;
}

@media screen and (min-width: 740px) {
  .criterios {
    max-width: 860px;
  }
}

@media screen and (min-width: 1210px) {
  .criterios {
    max-width: none;
  }
}

@media screen and (max-width: 580px) {
  .criterios {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .criterio {
    flex-shrink: 0;
  }
}

.criterio {
  max-width: 180px;
  padding: 1rem 0.5rem 0.5rem;
  text-align: center;
}

.criterio h3 {
  color: #050973;
  margin-bottom: 0.5rem;
  min-height: 3rem;
}

@media screen and (max-width: 740px) {
  .criterio h3 {
    min-height: 0;
  }
}

.criterio p {
  color: #888;
  line-height: 1.3;
  margin: 0;
}
