.micrositios {
    min-height: 400px;
    overflow: hidden;
    padding: 32px 0px;
    position: relative;
}

.micrositios a {
    margin-top: 12px;
    margin-bottom: 12px;
}

.micrositios select {
    padding: 6px;
    border-color: #afafaf;
    border-width: 0.5px;
    margin-left: 12px;
}

.micrositios h2 {
    color: #050973;
}

.micrositios h3 {
    margin-top: 16px;    
    margin-bottom: 0px;
}

.micrositios .revision {
    position: absolute;
    bottom: 32px;
    left: 12px;
}

.w-50 {
    max-width: 50%;
    width: 100%;    
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

.padding {
    padding: 12px;
}

.mw-100 {
    max-width: 100%;
}

.w-100 {
    width: 100%
}