.ranking-table {
    margin: auto;     
    border-collapse: collapse;   
}

.ranking-table th:nth-child(even) {
    background-color: #a83232;
}

.ranking-table th {
    background-color: red;
}

.ranking-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ranking-table tr {
    background-color: #fff;
}

.ranking-table td, .ranking-table th {
    padding: 8px;    
    border: 2px solid #fff;
}

.ranking-table td {
    color: var(--blue);
    font-weight: bold;
    font-size: 20px;
}

.ranking-table thead {
    background-color: red;
    color: white;
    text-transform: uppercase;
}